
/*
     FILE ARCHIVED ON 23:55:09 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:30:01 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.754
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.012
  esindex: 0.015
  cdx.remote: 10.973
  LoadShardBlock: 144.499 (3)
  PetaboxLoader3.resolve: 93.136 (4)
  PetaboxLoader3.datanode: 94.379 (4)
  load_resource: 72.481
*/