/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-banners-rotating-banner {
	background-color: #000;
	color: #fff;
	padding: 2px;
}

/*
     FILE ARCHIVED ON 23:55:51 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:04:57 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.455
  exclusion.robots: 0.014
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 16.146
  LoadShardBlock: 370.939 (3)
  PetaboxLoader3.resolve: 233.619 (3)
  PetaboxLoader3.datanode: 163.466 (4)
  load_resource: 66.874
*/