
/*
     FILE ARCHIVED ON 23:55:09 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:04:56 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.577
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.01
  cdx.remote: 22.916
  LoadShardBlock: 47.654 (3)
  PetaboxLoader3.datanode: 84.908 (4)
  load_resource: 41.168
*/