* {
    font-family: "Inter", serif !important;
    font-size: 17px;
    font-weight: 500;
    color: #7A7D9C;
    line-height: 1.5 !important;
    text-align: justify;
}

p{
    margin-bottom: 15px;
}

.imgLeft{
    float: left;
    padding: 10px 0;
    padding-right: 15px;
    width: 50%;
}

.imgRight{
    float: right;
    padding: 10px 0;
    padding-left: 15px;
    width: 50%;
}

img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figcaption{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}


body {
    background-color: #f8f9fa; 
}

.welcomeBlockWrapper{
    background: #f3f5ff;
}

.centeredBlock{
    margin: 0 auto;
    padding: 30px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 12px; 
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08); 
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcomeBlockHeader{
    font-size: 50px;
    font-weight: 700;
    color: #0B0A33;
    text-align: center;
}

.welcomeBlockSubeader{
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}

h2 {
    font-family: "Inter", serif;
    font-size: 24px;  
    font-weight: 700;  
    color: black;   
    margin: 1.5em 0 0.8em 0;
    text-align: left;
}