/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-banners-single-banner {
	background-color: #000;
	color: #fff;
	padding: 2px;
}

/*
     FILE ARCHIVED ON 23:56:09 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:30:01 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.536
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.013
  cdx.remote: 36.26
  LoadShardBlock: 195.497 (3)
  PetaboxLoader3.datanode: 92.161 (4)
  PetaboxLoader3.resolve: 203.206 (2)
  load_resource: 104.786
*/