/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-banners-rotating-banner {
	background-color: #000;
	color: #fff;
	padding: 2px;
}

/*
     FILE ARCHIVED ON 23:55:51 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:17:03 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.577
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.006
  esindex: 0.01
  cdx.remote: 161.59
  LoadShardBlock: 156.613 (3)
  PetaboxLoader3.datanode: 145.276 (4)
  load_resource: 147.342
  PetaboxLoader3.resolve: 113.349
*/