/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-banners-single-banner {
	background-color: #000;
	color: #fff;
	padding: 2px;
}

/*
     FILE ARCHIVED ON 23:56:09 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:17:02 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.582
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 79.236
  LoadShardBlock: 236.385 (3)
  PetaboxLoader3.datanode: 203.493 (4)
  load_resource: 155.597
  PetaboxLoader3.resolve: 66.751
*/