
/*
     FILE ARCHIVED ON 23:23:04 Aug 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:13:07 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.2
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.016
  esindex: 0.017
  cdx.remote: 8.911
  LoadShardBlock: 40.41 (3)
  PetaboxLoader3.datanode: 53.317 (4)
  load_resource: 14.451
*/