
/*
     FILE ARCHIVED ON 23:23:09 Aug 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:13:07 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.445
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 5.996
  LoadShardBlock: 42.153 (3)
  PetaboxLoader3.datanode: 73.306 (4)
  load_resource: 123.435
  PetaboxLoader3.resolve: 89.355
*/