*{
    box-sizing: border-box;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #7A7D9C;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}

.centeredBlock{
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    max-width: 800px;
}

.bb10{
    border-bottom: 2px solid #eee;
}

.welcomeBlockWrapper{
    background: #f3f5ff;
}

.welcomeBlockHeader{
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #0B0A33;
    line-height: 1.5;
    text-align: center;
}

.welcomeBlockSubheader{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin-top: 25px;
    line-height: 1.5;
    text-align: center;
    color: #7A7D9C;
}

.mapBtn{
    background: #5335D9;
    border-radius: 34px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: white;
    display: inline-block;
    line-height: 1.5;
    margin-top: 66px;
    margin-bottom: 66px;
    padding: 20px 42px 20px;
    text-align: center;
    border: 0px;
    cursor: pointer;
}

.authorBlock{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    font-style: italic;
}

figure{
    width: 50%;
}

figcaption{
    color: #7A7D9C;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.imgRight{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.imgLeft{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}

img{
    width: 100%;
}

.chapterNumber{
    background: #f3f5ff;
    border-radius: 50px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #5335D9;
    display: inline-block;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 14px 24px 13px;
    text-align: center;
}

.chapterTitle{
    font-family: "Inter", sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #0B0A33;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}

.mapWrapper{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.map{
    background: white;
    padding: 10px;
    width: 80%;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 30px 10px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 30px 10px rgba(34, 60, 80, 0.2);
}

.lightboxOverlay{
    width: 100% !important;
}

@media screen and (max-width:800px){
    figure {
        width: 100%;
    }
}