/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-banners-single-banner {
	background-color: #000;
	color: #fff;
	padding: 2px;
}

/*
     FILE ARCHIVED ON 01:11:43 Sep 11, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:11:08 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.699
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.012
  cdx.remote: 24.314
  LoadShardBlock: 48.817 (3)
  PetaboxLoader3.datanode: 86.22 (4)
  load_resource: 106.165
*/