
/*
     FILE ARCHIVED ON 01:11:51 Sep 11, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:11:06 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.641
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.014
  cdx.remote: 5.851
  LoadShardBlock: 40.822 (3)
  PetaboxLoader3.datanode: 80.792 (5)
  load_resource: 92.13 (2)
  PetaboxLoader3.resolve: 28.358
*/