
/*
     FILE ARCHIVED ON 23:23:30 Aug 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:06:21 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.741
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.02
  esindex: 0.012
  cdx.remote: 15.887
  LoadShardBlock: 44.285 (3)
  PetaboxLoader3.datanode: 63.402 (4)
  load_resource: 70.753
  PetaboxLoader3.resolve: 48.524
*/