
/*
     FILE ARCHIVED ON 23:23:10 Aug 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:13:08 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.686
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 11.767
  LoadShardBlock: 90.549 (3)
  PetaboxLoader3.datanode: 119.072 (4)
  load_resource: 105.572
  PetaboxLoader3.resolve: 50.542
*/