* {
    font-family: "Inter", serif !important;
    font-size: 17px;
    font-weight: 500;
    color: #7A7D9C;
    line-height: 1.5 !important;
    text-align: justify;
}

p{
    margin-bottom: 15px;
}

.welcomeBlockWrapper{
    background: #f3f5ff;
}

.centeredBlock{
    margin: 0 auto;
    padding: 30px;
    max-width: 800px;
}

.welcomeBlockHeader{
    font-size: 50px;
    font-weight: 700;
    color: #0B0A33;
    text-align: center;
}

.welcomeBlockSubHeader{
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}

img{
    width: 100%;
}

.imgLeft{
    float: left;
    padding: 10px 0;
    padding-right: 15px;
    width: 50%;

}.imgRight{
    float: right;
    padding: 10px 0;
    padding-left: 15px;
    width: 50%;
}

figcaption{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

.clearfix{
    clear: both;
}