
/*
     FILE ARCHIVED ON 23:55:09 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:10:07 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.876
  exclusion.robots: 0.036
  exclusion.robots.policy: 0.021
  esindex: 0.015
  cdx.remote: 7.316
  LoadShardBlock: 155.836 (3)
  PetaboxLoader3.resolve: 75.522 (4)
  PetaboxLoader3.datanode: 157.109 (4)
  load_resource: 86.521
*/