/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-banners-single-banner {
	background-color: #000;
	color: #fff;
	padding: 2px;
}

/*
     FILE ARCHIVED ON 23:56:09 Jan 15, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:10:07 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.694
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.016
  cdx.remote: 76.392
  LoadShardBlock: 198.988 (3)
  PetaboxLoader3.datanode: 129.659 (4)
  load_resource: 72.268
  PetaboxLoader3.resolve: 35.955
*/