
/*
     FILE ARCHIVED ON 23:23:09 Aug 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:06:21 Oct 28, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.74
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.017
  esindex: 0.03
  cdx.remote: 55.027
  LoadShardBlock: 207.977 (3)
  PetaboxLoader3.datanode: 238.446 (4)
  load_resource: 110.077
  PetaboxLoader3.resolve: 54.061
*/